<html>
<head>
    <style type="text/css">
    .d1{
        color:rgba(1, 5, 5, 0.637);
        width:98%;
        height:58px;
        background:rgb(185, 245, 245);
        margin:1%;
    }
    .d2{
        width:98%;
        height:240px;
        background: rgb(33, 221, 158);
        float: left;
        margin-left:1%;
    }
    </style>
   
</head>
<body>
    
    <div class="d1">
        <marquee><h1 class="hd1">WELCOME TO MUNEVVER SUPERMARKET</h1></marquee>
    </div>
    {% block navigation %} {% include 'navigation.html'%} {%endblock navigation%}
    <div class="d2">
        <h2>Dear customer....Kindly you are most welcome in our supermarket,</h2>

    </div>
</body>


</html>